.ballon {
	width: 94px;
	height: 73px;
	background-image: url(../img/ballon.png);
	background-repeat: no-repeat;
	position: absolute;
	/* animation-name: pouf; */
	animation-duration: 700ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-timing-function: steps(7);
	transform: scaleX(-1);
}

@keyframes pouf {
	0% {
		background-position-y: 0;
	}
	100% {
		background-position-y: -511px;
	}
}