.bellows {
	width: 77px;
	height: 50px;
	background-image: url(../img/bellows.png);
	background-repeat: no-repeat;
	position: absolute;
	/* animation-name: pff; */
	animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-timing-function: steps(3);
	/* transform: scaleX(-1); */
}

@keyframes pff {
	0% {
        background-position-x: 0;
        background-position-y: 0;
	}
	100% {
		background-position-y: -150px;
	}
}