.chat {
    --largeur: 67px;
    --hauteur: 59px;
    --steps: 8;
    position: absolute;
    width: var(--largeur);
	height: var(--hauteur);	
    background-image: url(../media/cat.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
    animation-timing-function: steps(var(--steps));
	transform: scaleX(-1);
}
@keyframes walkright {
    0% {
        background-position-x: 0px;
		background-position-y: calc(-1 * var(--hauteur));
		transform: scaleX(-1);
    }
    100% {
		background-position-x: calc(-1 * var(--steps) * var(--largeur));
        background-position-y: calc(-1 * var(--hauteur));
		transform: scaleX(-1);
    }
}

@keyframes walkleft {
    0% {
        background-position-x: 0px;
		background-position-y: calc(-1 * var(--hauteur));
		transform: scaleX(1);
    }
    100% {
		background-position-x: calc(-1 * var(--steps) * var(--largeur));
        background-position-y: calc(-1 * var(--hauteur));
		transform: scaleX(1);
    }
}

.chat.startled {    
    background-position-x: -67px;
    animation-name: startled;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: steps(2);
    transform: scaleX(-1);
}

@keyframes startled {
    0% {
        background-position-x: -67px;
    }
    100% {
        background-position-x: -67px;
    }
}