.drop {
	width: 13px;
	height: 12px;
	background-image: url(../img/drop.png);
	background-repeat: no-repeat;
    position: absolute;
    animation-name: grow;
    animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.63,.05,.43,1.7);
}

@keyframes grow {
	0% {
		transform: scale(0);
	}
	100% {        
		transform: scale(1);
}