.quille {
    /* background-color: red; */
	width: 34px;
	height: 34px;
	/* border: 1px dashed red; */
	background-image: url(../img/bowlingball.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 25%;
	/* animation-name: roll; */
	animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	/* animation: walk 600ms infinite steps(8); */
	transform: scaleX(-1);
}

@keyframes roll {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}