.seesaw {
	width: 82px;
	height: 36px;
	background-image: url(../img/seesaw.png);
	background-repeat: no-repeat;
	position: absolute;
	/* animation-name: ouiii; */
	animation-duration: 150ms;
    animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-timing-function: steps(3);
	transform: scaleX(-1);
}

@keyframes ouiii {
	0% {
		background-position-x: 0px;
	}
	100% {
		background-position-x: -246px;
	}
}