.windmill {
	width: 46px;
	height: 43px;
	background-image: url(../img/windmill.png);
	background-repeat: no-repeat;
	position: absolute;
	animation-name: vent;
	animation-duration: 500ms;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-timing-function: steps(4);
	animation-play-state: paused;
}

@keyframes vent {
	0% {
		background-position-x: 0px;
	}
	100% {
		background-position-x: -184px;		
	}
}